#mainBody {
    font-family: 'Gill Sans', sans-serif
}

#idBox {
    position: relative;
    width:98%;
    height:5%;
    left: 1%;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 0.5em; 
    background-color:yellow;
}

.wrapper {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    width: 100vw;
    height: 100vh;
}

#chatBox {
    position:relative;
    height: 90%;
    width: 99%; 
    left: 1%;
    border: 1px solid #ccc;
    text-align: center;
    background-color:white;
}

#nodeBox {
    position:relative;
    overflow: visible;
    height: 90%;
    width: 99%;
    right: 1%;
    border: 1px solid #ccc;
    text-align: center;
    background-color:white;
}

#sendButton {
    position: relative;
    background-color:blue;
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    font-size: 16px;
}

#addButton {
    position: relative;
    background-color: green;
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    font-size: 16px;
}

.txtInput {
    width: 50%;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color:white;
}

#msgBox {
    position: absolute;
    align-self: center;
    width: 100%;
    bottom:   5%;
}
