#mainBody {
    font-family: 'Gill Sans', sans-serif;
    background-color:rgb(132, 219, 248);
}

#privateBody {
    font-family: 'Gill Sans', sans-serif;
    background-color:rgb(132, 219, 248);
}

#privateBody {
    font-family: 'Gill Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}

#idBox {
    position: relative;
    width:98%;
    font-weight: bold;
    height:5%;
    left: 1%;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 0.5em; 
    background-color:rgb(248, 248, 73);
}

.wrapper {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
}

.row_wrapper {
    display: grid;
    grid-template-rows: repeat(2, [row] auto  );
    width: 100vw;
    height: 100vh;
}

#chatBox {
    position:relative;
    height: 80%;
    width: 99%; 
    left: 2%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #ccc;
    text-align: center;
    background-color:white;
}

#pchatBox {
    position:relative;
    height: 80%;
    width: 97%; 
    overflow: auto;
    border: 1px solid #ccc;
    text-align: center;
    background-color:white;
}

#nodeBox {
    position:relative;
    overflow: visible;
    height: 90%;
    width: 93%;
    right: 0%;
    background-color:white;
}

#knownNodes {
    position:relative;
    overflow: visible;
    grid-row: 1;
    border: 1px solid #ccc;
    text-align: center;
    background-color:white;
}

#privateNodes {
    position:relative;
    overflow: visible;
    grid-row: 2;
    border: 1px solid #ccc;
    text-align: center;
    background-color:white;
}

#sendButton {
    position: relative;
    background-color:blue;
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    font-size: 16px;
}

#indexButton, #requestButton {
    position: relative;
    background-color:red;
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    font-size: 16px;
}

#addButton {
    position: relative;
    background-color: green;
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    font-size: 16px;
}

.txtInput {
    width: 50%;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color:white;
}

#msgBox {
    position: absolute;
    right: 40%;
    width: 50%;
    bottom:   8%;
}

#pmsgBox {
    position: absolute;
    align-self: center;
    width: 100%;
    bottom:   8%;
}

#addBox {
    position: absolute;
    align-self: center;
    width: 100%;
    bottom:   8%;
}


#requestBox {
    position: absolute;
    align-self: center;
    width: 100%;
    bottom:   3%;
}

#fileBox {
    position: absolute;
    right: 40%;
    width: 50%;
    bottom:   3%;
}

.ptxtInput {
    align-self: center;
    float: center;
}
